<%= bootstrap_form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%#= form.label :phone %>
    <%= form.text_field :phone, label: 'Telefon' %>
  </div>

  <div class="field">
    <%#= form.label :money %>
    <%= form.number_field :money, label: 'Startkapital' %>
  </div>

  <div class="field">
    <%= form.text_area :notes, label: 'Notizen' %>
  </div>

  <div class="actions">
    <%= form.submit 'Erstellen' %>
  </div>
<% end %>
